<div class="row justify-content-center mt-3">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Login</h2>
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <div class="alert alert-info" role="alert" *ngIf="isMenuItemIdPresent">
            Please login before adding an item to Cart.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!isLoginValid">
            Invalid Username / Password
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ngModel name="username" #username="ngModel" placeholder="Enter Username" required>
            <div class="text-danger" *ngIf="username.touched &&  !username.valid">
              Username is required
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ngModel name="password" #password="ngModel" placeholder="Enter Password" required>
            <div class="validation-error" *ngIf="password.touched && !password.valid">
              Password is required
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
            </div>
            <small class="col-6 text-right">New here?
              <a routerLink="/signup">Signup</a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>