<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><i class="material-icons mr-2">local_dining</i>truYum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="menu">MenuItems <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="navbar-brand" routerLink="cart">Cart</a>
                </li>
                <li class="nav-item" *ngIf="isAuthenticated()">
                    <a class="navbar-brand text-light" ><i class="material-icons">
                            person
                        </i>{{getUser()}}</a>
                </li>
                <li class="nav-item" *ngIf="!isAuthenticated()">
                    <a class="navbar-brand" routerLink="login">Login</a>
                </li>
                
                <li class="nav-item" *ngIf="!isAuthenticated()">
                    <a class="navbar-brand " routerLink="signup" > Signup</a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated()">
                <a class="navbar-brand text-light" (click)="onSignOut()" href="#">Logout</a>
          </li>
            </ul>
        </div>
    </nav>
</header>